---
# Only the main Sass file needs front matter (the dashes are enough)
---
html {
  font-size: 18px;
}

.subtitle {
  & + .title {
    margin-top: -20px !important;
  }
}

.highlight {
  position: relative;

  .copy {
    background: #fff;
    border: solid #d3d6db;
    border-width: 0 0 1px 1px;
    color: #aeb1b5;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.site-header {
  .title {
    color: rgba(255, 255, 255, 1) !important;
    font-weight: 400;
  }
}

.hero-body {
  .title {
    margin-bottom: 50px;
  }
}

.post-content {
  h1 {
    font-size: 1.6em;
  }
}

.content-container {
}

.content-container {
  min-height: calc(100vh - 410px);
}

footer {
  .section {
    color: #fff;
    background-color: #69707a;

    .contact-list {
      color: #fff;
    }

    p {
      color: #fff;
    }

    a:hover {
      color: #fff;
    }

    .social-media-list {
      li {
        margin-bottom: 10px;
      }

      .icon {
        margin-right: 10px;
      }
    }
  }
}


@media (min-width: 769px) {
  .hero {
    .hero-head {
      transition-property: all;
      transition-duration: .3s;
      transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
    }

    &.sticky {
      .hero-head {
        background: #69707a;
        position: fixed;
        opacity: .9;
        width: 100%;
        z-index: 2;
      }
    }
  }
}

@media (min-width: 980px) {
  .post-list {
    .box {
      max-width: 600px;
    }
  }

}
