---
layout: default
---

<div class="">

  <h1 class="title">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.visible != false %}
      <li class="box" data-category="{{ post.categories }}">
        <span class="post-meta subtitle6">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class="level is-mobile">
          <div class="level-left">
            <h2 class="title level-item">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </div>
          <div class="level-left is-hidden-mobile">
            <span class="tag level-item">{{ post.categories }}</span>
          </div>
        </div>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe is-primary">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
