<footer class="footer">

  <div class="section">

    <h2 class="subtitle">{{ site.title }}</h2>

    <div class="columns">
      <div class="column is-quarter">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="column is-quarter">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="column is-half">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
