<header class="site-header">



    <nav class="nav">
      <div class="nav-left">
      <a class="site-title nav-item is-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
<span id="nav-toggle" class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>
      <div id="nav-menu" class="nav-right nav-menu">
        {% for cat in site.categories %}
        <a class="nav-item" href="#">{{ cat[0] }}</a>
        {% endfor %}

        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>


</header>
